<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>PRODUCTS PAGE</div>
        <div><%=member.memberNick%></div>
 
        <%products.map((value, key) => { %>
            <p><%= value.productName %> - <%= value.productSize %></p>
            <% } ) %>

    </div>
</body>
</html>